html {
  height: 100%;
  display: flex;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: #63808e;
  font-family: "adelle-sans", sans-serif;
  font-style: normal;
  margin: auto;
}

h3 {
  font-size: 24px;
  font-family: "adelle-sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 50px 0;
  text-shadow: 1px 1px rgba(255,255,255,0.7);
  margin-top: -40px;
  text-align: center;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  color: #303030;
  margin: 35px 0 5px 0;
}

p {
  margin: 0px;
  color: #777777;
  font-size: 14px;
  line-height: 22px;
}

.box {
  width: 626px;
  padding: 50px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  overflow: auto;
  color: #303030;
}

.login-left {
  float: left;
  padding-right: 50px;
  width: 405px;
  box-sizing: border-box;
}

.login-right {
  float: left;
  padding-left: 50px;
  width: 220px;
  box-sizing: border-box;

  .eui-button {
    display: block;
  }
}

.divider {
  margin: -50px 0;
  width: 1px;
  height: 148px;
  float: left;
  background: #ccd9e0;
}

.box.signup {
  width: 701px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.signup-left {
  width: 200px;
  padding-right: 50px;
  font-size: 30px;
  font-weight: 300;
  color: #919191;
}

.signup-right {
  padding-left: 50px;
  width: 400px;
  text-align: left;

  h4:first-child {
    margin-top: 0px;
  }
}

.field-row {
  margin: 10px 0;
  display: table;
  width: 100%;

  .row-item {
    display: table-cell;
    width: 50%;
    padding-right: 5px;

    &:last-child {
      padding-right: 0px;
    }
  }
}

.avatar {
  height: 150px;
  border: solid 1px #d5d5d5;
  border-radius: 5px;
  margin: 10px 0 20px 0;
  text-align: center;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  background-image: linear-gradient(to bottom, #f7f7f7 0%, #ffffff 100%);

  &:before {
    content: "\f03e";
    display: block;
    font-family: "FontAwesome";
    font-size: 48px;
    color: #d4d4d4;
    margin: 40px 0 20px 0;
  }
}
