<h3>Go ahead, play around.</h3>

<div class="box">
  <form class="login">
    {{eui-input placeholder="Email Address" size="large" valueBinding="email" errorBinding="errors.email"}}
    {{eui-input type="password" placeholder="Password" size="large" valueBinding="password" errorBinding="errors.password"}}
    {{eui-button label="Sign In" size="large" styleBinding="loginButtonStyle" disabledBinding="isInvalid" action="verifyAccount"}}
  </form>
</div>

<div class="cta">
  Don't already have an account? {{link-to "Create one now" "signup"}}
</div>
